
{% from 'macros.html' import static_file, img, rotation_chart %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}{% endblock %}
    </title>
    {{ static_file('css', 'init.css') }}
    {{ static_file('css', 'base.css') }}
    {{ static_file('icon', 'jing.ico') }}
    {% block styles %}{% endblock %}
    {% block scripts %}{% endblock %}
</head>

<body>
    <!-- 开始 顶栏  -->
    <div class="nav1">
        <!-- 开始 LOGO-站名  -->
        <div class="logo">
            <div>
                {{ img('logo1.jpg', class="xd_logo") }}
            </div>
        </div>
        <!-- 结束 LOGO-站名 -->

        <!-- 开始 导航项 -->
        <div class="goto ">
            <a class="gotoItm " href="{{ url_for('index.index') }}">首页</a>
            <a class="gotoItm " href="{{ url_for('forum.forum') }}">论坛</a>
            <a class="gotoItm " href="{{ url_for('news.news', begin_id=1, end_id=10) }}">新闻公告</a>
            <a class="gotoItm " href="{{ url_for('races.races') }}">竞赛信息</a>
            <a class="gotoItm " href="{{ url_for('library.library') }}">资源库</a>
            <a class="gotoItm " href="{{ url_for('sharing.sharing') }}">经验分享</a>
            <div class="dropdown1 gotoItm">
                <button class="dropbtn1">私人定制</button>
                <div class="dropdown-content1">
                    <a href="#">{{ img('gongzhonghao1.jpg') }}</a>
                </div>
            </div>
            {% if 'login' not in session %}
            <a class="gotoItm " href="{{ url_for('auth.login') }}">登录</a>
            {% else %}
            <div class="dropdown1 gotoItm">
                <button class="dropbtn1">个人中心</button>
                <div class="dropdown-content1">
                    <a href="{{ url_for('auth.logout') }}">退出登录</a>
                    <a href="#">{{ g.user_who.email}}</a>
                </div>
            </div>
            {% endif %}
        </div>
        &nbsp&nbsp&nbsp&nbsp
        <!-- 结束 导航项 -->
    </div>
    <!-- 结束 顶栏  -->


    {% block content %}
    {% endblock %}


    <!-- 结束 底部栏 -->
    <div class="footer">
        <div class="others">
            <div class="item">
                {{ img('gongzhonghao1.jpg') }}
                <div>竞赛助手小程序</div>
            </div>
            <div class="item">
                {{ img('gongzhonghao1.jpg') }}
                <div>竞赛助手小程序</div>
            </div>
            <div class="item">
                {{ img('gongzhonghao1.jpg') }}
                <div>竞赛助手小程序</div>
            </div>
            <div class="item">
                {{ img('gongzhonghao1.jpg') }}
                <div>竞赛助手小程序</div>
            </div>
        </div>

        <div class="uList">
            <a class="item" href="#">反馈与帮助</a>
            <a class="item" href="#">关于网站</a>
            <a class="item" href="#">竞赛助手小程序</a>
        </div>
        <!--    <div class="cpr">2022-2022 版权©xxx所有 </div>-->
        <div class="contactUs">反馈邮箱：xxx@qq.com</div>
    </div>
    <!-- 结束 底部栏 -->
</body>

</html>