{% extends 'base.html' %}

{% block title %}千帆竞发{% endblock %}

{% block styles %}
    {{ static_file('css', 'index.css') }}
    {{ static_file('js', 'animate.js') }}
    {{ static_file('js', 'rotation_chart.js') }}
{% endblock %}


{% block content %}
    <div class="banner w">

        <div class="subnav">
        <ul>
            {% for race in hot_race %}

                <li>
                    <a href="{{ url_for('index.hotrace',racename_id=race.id)}}">{{ race.name }} </a>
                </li>

            {% endfor %}
        </ul>
        </div>
        <div>
            <!-- 轮播图 start -->
            {{ rotation_chart(imgs_info={
                '1.1.png': 'https://cy.ncss.cn/',
                '1.2.png': 'http://www.ncda.org.cn/',
                '1.3.png': 'https://dandad.cn/',
                '1.4.png': 'http://univ.ciciec.com/'
            }) }}
            <!-- 轮播图 end -->
        </div>
        <div class="cource">
            <h2>经验分享</h2>
            <div class="bd">
                {% for exper in experience %}
                <ul>
                    <li>

                        <a href="{{ url_for('sharing.experice',exper_id=exper.id) }}">
                            <h4>{{exper.type}}</h4>
                            <p>{{ exper.expe_time }}</p>
                        </a>
                    </li>
                </ul>
                {% endfor %}
                <a href="{{ url_for('sharing.sharing') }}" class="more">更多经验  ></a>
            </div>
        </div>

    </div>
    <!-- banner end -->

    <!-- 精品推荐开始 -->
    <div class="goods w">
        <h3>精品推荐</h3>
        <ul>
            <li>
                <a href="#">jQuery</a>
            </li>
            <li>
                <a href="#">jQuery</a>
            </li>
            <li>
                <a href="#">jQuery</a>
            </li>
            <li>
                <a href="#">jQuery</a>
            </li>
            <li>
                <a href="#">jQuery</a>
            </li>
            <li>
                <a href="#">jQuery</a>
            </li>
            <li>
                <a href="#">jQuery</a>
            </li>
        </ul>
    </div>
    <!-- 精品推荐结束 -->


    <!-- 热门推荐 start -->
    <div class="box wrapper w">
        <div class="title">
            <h2>热门推荐</h2>
            <a href="{{ url_for('races.races') }}">查看全部</a>
        </div>

        <div class="content clearfix">
            <ul>
                {% for selected in selected_race %}
                <li class="rm">
                    <a href="{{ url_for('index.races_10',racename_id=selected.id)}}">

                        {{ img('hot/2.' + [loop.index]|join + '.png') }}
                        <h3>{{ selected.name }}</h3>
                        <p><span>精选</span>{{ selected.type }}</p>

                    </a>
                </li>
                {% endfor %}

            </ul>
        </div>
    </div>
{% endblock %}