{% extends 'base.html' %}

{% block title %}千帆竞发{% endblock %}

{% block styles %}
    {{ static_file('css', 'index.css') }}
    {{ static_file('js', 'animate.js') }}
    {{ static_file('js', 'rotation_chart.js') }}
{% endblock %}


{% block content %}
    <div class="banner w">

        <div class="subnav">
            {% for race in hot_race %}
            <ul>
                <li>
                    <a href="{{ url_for('index.index')}}">{{ race.name }} <span>&gt</span></a>
                </li>
            </ul>
            {% endfor %}
{#            <ul>#}
{#                <li>#}
{#                    <a href="#">前端开发<span>&gt</span></a>#}
{#                </li>#}
{#            </ul>#}
{#            <ul>#}
{#                <li>#}
{#                    <a href="#">前端开发<span>&gt</span></a>#}
{#                </li>#}
{#            </ul>#}
{#            <ul>#}
{#                <li>#}
{#                    <a href="#">前端开发<span>&gt</span></a>#}
{#                </li>#}
{#            </ul>#}
{#            <ul>#}
{#                <li>#}
{#                    <a href="#">前端开发<span>&gt</span></a>#}
{#                </li>#}
{#            </ul>#}
{#            <ul>#}
{#                <li>#}
{#                    <a href="#">前端开发<span>&gt</span></a>#}
{#                </li>#}
{#            </ul>#}
        </div>
        <div>
            <!-- 轮播图 start -->
            {{ rotation_chart(imgs_info={
                'focus0.jpg': '#',
                'focus1.jpg': '#',
                'focus2.jpg': '#',
                'focus3.jpg': '#'
            }) }}
            <!-- 轮播图 end -->
        </div>
        <div class="cource">
            <h2>经验分享</h2>
            <div class="bd">
                {% for exper in experience %}
                <ul>
                    <li>
                        <h4>{{exper.type}}</h4>
                        <p>{{ exper.expe_time }}</p>
                    </li>
                </ul>
                {% endfor %}
                <a href="{{ url_for('sharing.sharing') }}" class="more">更多经验  ></a>
            </div>
        </div>

    </div>
    <!-- banner end -->

    <!-- 精品推荐开始 -->
    <div class="goods w">
        <h3>精品推荐</h3>
        <ul>
            <li>
                <a href="#">jQuery</a>
            </li>
            <li>
                <a href="#">jQuery</a>
            </li>
            <li>
                <a href="#">jQuery</a>
            </li>
            <li>
                <a href="#">jQuery</a>
            </li>
            <li>
                <a href="#">jQuery</a>
            </li>
            <li>
                <a href="#">jQuery</a>
            </li>
            <li>
                <a href="#">jQuery</a>
            </li>
        </ul>
        <a href="#" class="mod">修改兴趣</a>
    </div>
    <!-- 精品推荐结束 -->


    <!-- 热门推荐 start -->
    <div class="box wrapper w">
        <div class="title">
            <h2>热门推荐</h2>
            <a href="#">查看全部</a>
        </div>

        <div class="content clearfix">
            <ul>
                {% for selected in selected_race %}
                <li class="rm">
                    <a href="#">
                        {{ img('666.png') }}
                        <h3>{{ selected.name }}</h3>
                        <p><span>精选</span>{{ selected.type }}</p>
                    </a>
                </li>
                {% endfor %}

            </ul>
        </div>
    </div>
{% endblock %}