
{% extends 'base.html' %}

{% block title %}资源库{% endblock %}

{% block styles %}
    {{ static_file('css', 'library.css') }}
{% endblock %}

{% block scripts %}
    {{ static_file('js', 'https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js', local=False) }}
    {{ static_file('js', 'animate.js') }}
    {{ static_file('js', 'rotation_chart.js') }}
    {{ static_file('js', 'races_library.js') }}
    {{ static_file('js', 'AJAX_send.js') }}
    {{ static_file('js', 'put_libs_info.js') }}

    <script type="text/javascript">
    function begin () {
        AJAX_send('{{ url_for('library.libs_info', begin_id=1, end_id=10, type='PPT')|safe }}', put)
        AJAX_send('{{ url_for('library.libs_info', begin_id=1, end_id=10, type='PPP')|safe }}', put)
        AJAX_send('{{ url_for('library.libs_info', begin_id=1, end_id=10, type='CQB')|safe }}', put)
    }
    $(begin())
    </script>

{% endblock %}

{% block content %}

<!-- 轮播图 start -->
{{ rotation_chart(imgs_info={
    '1.1.png': 'https://cy.ncss.cn/',
    '1.2.png': 'http://www.ncda.org.cn/',
    '1.3.png': 'https://dandad.cn/',
    '1.4.png': 'http://univ.ciciec.com/'
}) }}
<!-- 轮播图 end -->

<!-- 资源内容 -->
<div class="tab_box">
    <div class="tab">
        <div class="tab_list">
            <ul class="image">
                <li class="current">精选PPT模板</li>
                <li>项目计划书模板</li>
                <li>竞赛题库</li>
            </ul>
        </div>
        <div class="tab_con">
            <div class="item1" style="display: block;">
                <div class="dropdown-content" id="PPT">
                </div>
            </div>
            <div class="item1">
                <div class="dropdown-content" id="PPP">
                </div>
            </div>
            <div class="item1">
                <div class="dropdown-content" id="CQB">
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
