
<!-- 宏 -->


{% macro static_file(type, filename_or_url, local=True) %}
    {% if local %}
        {% if type == 'css' %}
            {% set predict_name = 'styles/' %}
        {% elif type == 'js' %}
            {% set predict_name = 'scripts/' %}
        {% elif type == 'icon' %}
            {% set predict_name = 'images/' %}
        {% endif %}
        {% set filename_or_url = url_for('static', filename=predict_name+filename_or_url) %}
    {% endif %}
    {% if type == 'css' %}
        <link rel="stylesheet" href="{{ filename_or_url }}" type="text/css">
    {% elif type == 'js' %}
        <script type="text/javascript" src="{{ filename_or_url }}"></script>
    {% elif type == 'icon' %}
        <link rel="icon" href="{{ filename_or_url }}">
    {% endif %}
{% endmacro %}


{% macro img(filename_or_url, class='', alt='') %}
    {% set filename_or_url = url_for('static', filename='images/'+filename_or_url) %}
    <img
            src="{{ filename_or_url }}"
            {% if class != '' %} class="{{ class }}" {% endif %}
            {% if alt != '' %} alt="{{ alt }}" {% endif %}
    >
{% endmacro %}


{% macro page_numbers_ENDPOINT(endpoint, opnn, all_num, begin_id, end_id) %}
    {% set opnn = opnn %} <!-- one_page_numbers_num -->
    {% if (begin_id % opnn == 1) and ((end_id - begin_id == (opnn - 1)) or (end_id == all_num)) %}
    <div class="paging">
        {% for i in range(1, all_num, opnn) %}
            {% if i == begin_id %}
                <span class="on">{{ loop.index }}</span>
            {% else %}
                {% if loop.last %}
                    {% set idx_url = url_for(endpoint, begin_id=i, end_id=all_num) %}
                {% else %}
                    {% set idx_url = url_for(endpoint, begin_id=i, end_id=(i + opnn - 1)) %}
                {% endif %}
                <a href="{{ idx_url }}">{{ loop.index }}</a>
            {% endif %}
        {% endfor %}
        {% if end_id != all_num %}
            {% set next_url = url_for(endpoint, begin_id=(begin_id + opnn), end_id=(end_id + opnn)) %}
            <a href="{{ next_url }}" rel="next">下一页</a>
        {% endif %}
    </div>
    {% endif %}
{% endmacro %}


{% macro page_numbers_AJAX(func_name, endpoint, opnn, all_num, begin_id, end_id, type) %}
    {% set opnn = opnn %}
    <div class="paging">
        {% for i in range(1, all_num, opnn) %}
            {% if i == begin_id %}
                <span class="on">{{ loop.index }}</span>
            {% else %}
                {% if loop.last %}
                    {% set idx_url = url_for(endpoint, begin_id=i, end_id=all_num, type=type) %}
                {% else %}
                    {% set idx_url = url_for(endpoint, begin_id=i, end_id=(i + opnn - 1), type=type) %}
                {% endif %}
                <input type="button" value="{{ loop.index }}" onclick="{{ fanc_name }}(url={{ idx_url }})">
                <a onclick="{{ AJAX_send(url=idx_url, func=func_name) }}">loop.index</a>
            {% endif %}
        {% endfor %}
        {% if end_id != all_num %}
            {% set next_url = url_for(endpoint, begin_id=(begin_id + opnn), end_id=(end_id + opnn), type=type) %}
            <a rel="next" onclick="{{ AJAX_send(url=next_url, func=func_name) }}">下一页</a>
        {% endif %}
    </div>
{% endmacro %}


{% macro rotation_chart(imgs_info) %}
    <div class="focus ">
        <!-- 左侧按钮 -->
        <a href="javascript:;" class="arrow-l">&lt;</a>
        <!-- 右侧按钮 -->
        <a href="javascript:;" class="arrow-r"> &gt; </a>
        <!-- 核心的滚动区域 -->
        <ul>
            {% for img_fn, url in imgs_info.items() %}
                <li><a href="{{ url }}">
                    {{ img(img_fn) }}
                </a></li>
            {% endfor %}
        </ul>
        <!-- 小圆圈 -->
        <ol class="circle"></ol>
    </div>
{% endmacro %}

