
{% extends 'base.html' %}

{% block title %}新闻公告{% endblock %}

{% block styles %}
    {{ static_file('css', 'news.css') }}
{% endblock %}

{% block content %}

<div class="block" style="z-index: 100;">
    <div class="news-main">
        <div class="list-cate">
            <h2>新闻公告</h2>
        </div>
        <dl class="clearfix csdn-tracking-statistics" data-mod="popu_387" data-poputype="feed" data-feed-show="true" data-dsm="post">
            <dd>
                <h2><a href="#" target="_blank">“教育部电子商务专业虚拟教研室建设”研讨会会议通知</a></h2>
                <div class="summary">
                    全国高校电子商务专业负责人、骨干教师、企业专家等：您好！教育部电子商务专业虚拟教研室，从今年2月获批以来，已经开展了一系列活动，并为第一批成员颁发了证书。为了进一步落实教育部关于虚拟教研室建设的目标任...
                </div>
                <ul>
                    <li class="time">
                        2022-11-13
                    </li>
                </ul>
            </dd>
        </dl>

        <dl class="clearfix csdn-tracking-statistics" data-mod="popu_387" data-poputype="feed" data-feed-show="true" data-dsm="post">
            <dd>
                <h2><a href="#" target="_blank">“教育部电子商务专业虚拟教研室建设”研讨会会议通知</a></h2>
                <div class="summary">
                    全国高校电子商务专业负责人、骨干教师、企业专家等：您好！教育部电子商务专业虚拟教研室，从今年2月获批以来，已经开展了一系列活动，并为第一批成员颁发了证书。为了进一步落实教育部关于虚拟教研室建设的目标任...
                </div>
                <ul>
                    <li class="time">
                        <i class="fa fa-calendar"></i> 2022-11-13
                    </li>
                </ul>
            </dd>
        </dl>

        <dl class="clearfix csdn-tracking-statistics" data-mod="popu_387" data-poputype="feed" data-feed-show="true" data-dsm="post">
            <dd>
                <h2><a href="#" target="_blank">“教育部电子商务专业虚拟教研室建设”研讨会会议通知</a></h2>
                <div class="summary">
                    全国高校电子商务专业负责人、骨干教师、企业专家等：您好！教育部电子商务专业虚拟教研室，从今年2月获批以来，已经开展了一系列活动，并为第一批成员颁发了证书。为了进一步落实教育部关于虚拟教研室建设的目标任...
                </div>
                <ul>
                    <li class="time">
                        <i class="fa fa-calendar"></i> 2022-11-13
                    </li>
                </ul>
            </dd>
        </dl>

        <dl class="clearfix csdn-tracking-statistics" data-mod="popu_387" data-poputype="feed" data-feed-show="true" data-dsm="post">
            <dd>
                <h2><a href="#" target="_blank">“教育部电子商务专业虚拟教研室建设”研讨会会议通知</a></h2>
                <div class="summary">
                    全国高校电子商务专业负责人、骨干教师、企业专家等：您好！教育部电子商务专业虚拟教研室，从今年2月获批以来，已经开展了一系列活动，并为第一批成员颁发了证书。为了进一步落实教育部关于虚拟教研室建设的目标任...
                </div>
                <ul>
                    <li class="time">
                        <i class="fa fa-calendar"></i> 2022-11-13
                    </li>
                </ul>
            </dd>
        </dl>

        <dl class="clearfix csdn-tracking-statistics" data-mod="popu_387" data-poputype="feed" data-feed-show="true" data-dsm="post">
            <dd>
                <h2><a href="#" target="_blank">“教育部电子商务专业虚拟教研室建设”研讨会会议通知</a></h2>
                <div class="summary">
                    全国高校电子商务专业负责人、骨干教师、企业专家等：您好！教育部电子商务专业虚拟教研室，从今年2月获批以来，已经开展了一系列活动，并为第一批成员颁发了证书。为了进一步落实教育部关于虚拟教研室建设的目标任...
                </div>
                <ul>
                    <li class="time">
                        <i class="fa fa-calendar"></i> 2022-11-13
                    </li>
                </ul>
            </dd>
        </dl>

        <dl class="clearfix csdn-tracking-statistics" data-mod="popu_387" data-poputype="feed" data-feed-show="true" data-dsm="post">
            <dd>
                <h2><a href="#" target="_blank">“教育部电子商务专业虚拟教研室建设”研讨会会议通知</a></h2>
                <div class="summary">
                    全国高校电子商务专业负责人、骨干教师、企业专家等：您好！教育部电子商务专业虚拟教研室，从今年2月获批以来，已经开展了一系列活动，并为第一批成员颁发了证书。为了进一步落实教育部关于虚拟教研室建设的目标任...
                </div>
                <ul>
                    <li class="time">
                        <i class="fa fa-calendar"></i> 2022-11-13
                    </li>
                </ul>
            </dd>
        </dl>

        <dl class="clearfix csdn-tracking-statistics" data-mod="popu_387" data-poputype="feed" data-feed-show="true" data-dsm="post">
            <dd>
                <h2><a href="#" target="_blank">“教育部电子商务专业虚拟教研室建设”研讨会会议通知</a></h2>
                <div class="summary">
                    全国高校电子商务专业负责人、骨干教师、企业专家等：您好！教育部电子商务专业虚拟教研室，从今年2月获批以来，已经开展了一系列活动，并为第一批成员颁发了证书。为了进一步落实教育部关于虚拟教研室建设的目标任...
                </div>
                <ul>
                    <li class="time">
                        <i class="fa fa-calendar"></i> 2022-11-13
                    </li>
                </ul>
            </dd>
        </dl>

        <dl class="clearfix csdn-tracking-statistics" data-mod="popu_387" data-poputype="feed" data-feed-show="true" data-dsm="post">
            <dd>
                <h2><a href="#" target="_blank">“教育部电子商务专业虚拟教研室建设”研讨会会议通知</a></h2>
                <div class="summary">
                    全国高校电子商务专业负责人、骨干教师、企业专家等：您好！教育部电子商务专业虚拟教研室，从今年2月获批以来，已经开展了一系列活动，并为第一批成员颁发了证书。为了进一步落实教育部关于虚拟教研室建设的目标任...
                </div>
                <ul>
                    <li class="time">
                        <i class="fa fa-calendar"></i> 2022-11-13
                    </li>
                </ul>
            </dd>
        </dl>

        <dl class="clearfix csdn-tracking-statistics" data-mod="popu_387" data-poputype="feed" data-feed-show="true" data-dsm="post">
            <dd>
                <h2><a href="#" target="_blank">“教育部电子商务专业虚拟教研室建设”研讨会会议通知</a></h2>
                <div class="summary">
                    全国高校电子商务专业负责人、骨干教师、企业专家等：您好！教育部电子商务专业虚拟教研室，从今年2月获批以来，已经开展了一系列活动，并为第一批成员颁发了证书。为了进一步落实教育部关于虚拟教研室建设的目标任...
                </div>
                <ul>
                    <li class="time">
                        <i class="fa fa-calendar"></i> 2022-11-13
                    </li>
                </ul>
            </dd>
        </dl>

        <dl class="clearfix csdn-tracking-statistics" data-mod="popu_387" data-poputype="feed" data-feed-show="true" data-dsm="post">
            <dd>
                <h2><a href="#" target="_blank">“教育部电子商务专业虚拟教研室建设”研讨会会议通知</a></h2>
                <div class="summary">
                    全国高校电子商务专业负责人、骨干教师、企业专家等：您好！教育部电子商务专业虚拟教研室，从今年2月获批以来，已经开展了一系列活动，并为第一批成员颁发了证书。为了进一步落实教育部关于虚拟教研室建设的目标任...
                </div>
                <ul>
                    <li class="time">
                        <i class="fa fa-calendar"></i> 2022-11-13
                    </li>
                </ul>
            </dd>
        </dl>
    </div>
</div>

<div class="paging">
    <span class="on">1</span>
    <a href="#">2</a>
    <a href="#">3</a>
    <a href="#">4</a>
    <a href="#">5</a>
    <a href="#">6</a>
    <a href="#">7</a>
    <a href="#">8</a>
    <a href="#">9</a>
    <a href="#" rel="next">下一页</a>
</div>

{% endblock %}