
{% extends 'base.html' %}

{% block title %}新闻公告{% endblock %}

{% block styles %}
    {{ static_file('css', 'news.css') }}
{% endblock %}

{% block content %}

<div class="block" style="z-index: 100;">
    <div class="news-main">
        <div class="list-cate">
            <h2>新闻公告</h2>
        </div>

        {% for new in news %}
        <dl class="clearfix csdn-tracking-statistics" data-mod="popu_387" data-poputype="feed" data-feed-show="true" data-dsm="post">
            <dd>
                <h2><a href="#" target="_blank">{{ new.newstheme }}</a></h2>
                <div class="summary">
                    {{ new.newscontent }}
                </div>
                <ul>
                    <li class="time">
                        {{ new.news_time }}
                    </li>
                </ul>
            </dd>
        </dl>
        {% endfor %}
    </div>
</div>

{% set opnn = 10 %} <!-- one_page_news_num -->
{% if (begin_id % opnn == 1) and ((end_id - begin_id == (opnn - 1)) or (end_id == all_news_num)) %}
<div class="paging">
    {% for i in range(1, all_news_num, opnn) %}
        {% if i == begin_id %}
            <span class="on">{{ loop.index }}</span>
        {% else %}
            {% if loop.last %}
                {% set idx_url = url_for('news.news', begin_id=i, end_id=all_news_num) %}
            {% else %}
                {% set idx_url = url_for('news.news', begin_id=i, end_id=(i + opnn - 1)) %}
            {% endif %}
            <a href="{{ idx_url }}">{{ loop.index }}</a>
        {% endif %}
    {% endfor %}
    {% if end_id != all_news_num %}
        {% set next_url = url_for('news.news', begin_id=(begin_id + opnn), end_id=(end_id + opnn)) %}
        <a href="{{ next_url }}" rel="next">下一页</a>
    {% endif %}
</div>
{% endif %}

{% endblock %}
