
{% extends 'base.html' %}

{% from 'macros.html' import page_numbers_ENDPOINT %}

{% block title %}新闻公告{% endblock %}

{% block styles %}
    {{ static_file('css', 'news.css') }}
    {{ static_file('css', 'https://cdn.bootcss.com/bulma/0.6.1/css/bulma.min.css', local=False) }}
    {{ static_file('css', 'https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css', local=False) }}
{% endblock %}

{% block content %}

<!-- 搜索开始 -->
   <form method="GET" action="{{ url_for('news.search') }}">
<div class="ser_box">
    <div class="navbar-item">
        <div class="field is-grouped">

            <div class="control has-icons-right">
                <input type="search" class="input" style="width: 20rem;" placeholder="搜索你感兴趣的内容..." name="q">
                <span class="icon is-right"><i class="fa fa-search"></i></span>
            </div>
            <div class="control">
                <button type="submit" class="button is-info">搜索</button>
            </div>

        </div>
    </div>
</div>
    </form>
<!-- 搜索结束 -->

<div class="block" style="z-index: 100;">
    <div class="news-main">
        <div class="list-cate">
            <h2>新闻公告</h2>
        </div>

        {% for new in news %}
        <dl class="clearfix csdn-tracking-statistics" data-mod="popu_387" data-poputype="feed" data-feed-show="true" data-dsm="post">
            <dd>
                <h2><a href="#" target="_blank">{{ new.newstheme }}</a></h2>
                <div class="summary">
                    {{ new.newscontent }}
                </div>
                <ul>
                    <li class="time">
                        {{ new.news_time }}
                    </li>
                </ul>
            </dd>
        </dl>
        {% endfor %}
    </div>
</div>


{{ page_numbers_ENDPOINT('news.news', opnn=10, all_num=all_news_num, begin_id=begin_id, end_id=end_id) }}
{#{{ page_numbers_ENDPOINT('news.news', begin_id=begin_id, end_id=end_id) }}#}


{% endblock %}
