
{% extends 'base.html' %}

{% block title %}竞赛信息{% endblock %}

{% block styles %}
    {{ static_file('css', 'races.css') }}
{% endblock %}

{% block scripts %}
    {{ static_file('js', 'https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js', local=False) }}
    {{ static_file('js', 'animate.js') }}
    {{ static_file('js', 'rotation_chart.js') }}
    {{ static_file('js', 'races_library.js') }}
    {{ static_file('js', 'AJAX_send.js') }}
    {{ static_file('js', 'put_races_info.js') }}

    <script type="text/javascript">
    function begin () {
        AJAX_send('{{ url_for('races.races_info', begin_id=1, end_id=10, type='type_A')|safe }}', put)
        AJAX_send('{{ url_for('races.races_info', begin_id=1, end_id=10, type='type_B')|safe }}', put)
        AJAX_send('{{ url_for('races.races_info', begin_id=1, end_id=10, type='type_N')|safe }}', put)
    }
    $(begin())
    </script>

{% endblock %}

{% block content %}

<!-- 轮播图 start -->
{{ rotation_chart(imgs_info={
    '1.1.png': 'https://cy.ncss.cn/',
    '1.2.png': 'http://www.ncda.org.cn/',
    '1.3.png': 'https://dandad.cn/',
    '1.4.png': 'http://univ.ciciec.com/'
}) }}
<!-- 轮播图 end -->

<!-- 竞赛 start -->
<div class="tab_box">
    <div class="tab">
        <div class="tab_list">
            <ul class="image">
                <li class="current">A类竞赛</li>
                <li>B类竞赛</li>
                <li>非A、B类竞赛</li>

            </ul>
        </div>
        <div class="tab_con">
            <div class="item1" style="display: block;">
                <div class="dropdown-content" id="type_A">
                </div>
            </div>
            <div class="item1">
                <div class="dropdown-content" id="type_B">
                </div>
            </div>
            <div class="item1">
                <div class="dropdown-content" id="type_N">
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 竞赛 end -->

{% endblock %}

