
{% extends 'base.html' %}

{% block content %}
<div class="login-page">
    <div class="form">
        <form class="register-form">
            <input type="email" placeholder="邮箱地址">
            <input type="password" placeholder="请输入验证码（下侧获取）">
            <input type="text" placeholder="请输入用户名">
            <input type="password" placeholder="请输入密码"> <a href="#">获取验证码</a>
            <button type="button">立即注册</button>
            <p class="message">我们不会把您的信息用于其他用户</p>
        </form>
    </div>
</div>
{% endblock %}