
{% extends 'base.html' %}

{% block title %}注册{% endblock %}

{% block styles %}
    {{ static_file('css', 'register_login.css') }}
{% endblock %}

{% block content %}
<div class="login-page">
    <div class="form">
        <form class="register-form" method="post">
            {{ form.csrf_token }}
            {{ form.email(placeholder='邮箱地址') }}
            <!---->
            {{ form.username(placeholder='请输入用户名') }}
            {{ form.password(placeholder='请输入密码') }}
            {{ form.password_confirm(placeholder='请确认密码') }}
            <a href="#">获取验证码</a>
            {{ form.submit }}
            <p class="message">我们不会把您的信息用于其他用户</p>
        </form>
    </div>
</div>
{% endblock %}