{% extends 'base.html' %}

{% block title %}竞赛信息详情{% endblock %}

{% block styles %}

        {{ static_file('css', 'bootstrap.4.6.min.css') }}
       <style>
        body {
            {#background:url(../images/bj.jpg) repeat;#}

        }

        .bigdiv {
            width: 1000px;
            margin: 80px auto 0;
            border: 1px solid #ccc;
            padding: 10px;
        }

        p {
            margin-left: 2em;
        }

        h1 {
            text-align: center;
        }

        a {
            text-decoration: none;
        }

        em {
            display: block;
            text-align: center;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="bigdiv" >
        <h1 >{{ race.name }}</h1>
        <em>开始时间：{{ race.start_time}} &nbsp;&nbsp;&nbsp;官网：<a href="{{ race.href }}">{{race.href}}</a></em>
        <hr>
        <br>
    {{ race.details|safe}}
    </div>
     <script src="http://cdn.jsdelivr.net/gh/wallleap/cdn@latest/js/sakura.js">
    </script>
{% endblock %}