{% extends 'base.html' %}

{% block title %}竞赛信息详情{% endblock %}

{% block styles %}
    {{ static_file('css', 'sharing_page.css') }}
        {{ static_file('css', 'bootstrap.4.6.min.css') }}
{% endblock %}

{% block content %}
    <div class="box" style="margin-top: 80px">
        <h2 style="margin-top: 81px;">{{ race.name }}</h2>
        <p class="jingsai">开始时间：{{ race.start_time}} &nbsp;&nbsp;&nbsp;官网：<a href="{{ race.href }}">{{race.href}}</a></p>
        <hr>
{#        <p>又是一年“3·15”国际消费者权益消费维权,相关议题再度引发关注。数据显示2022年有近七成受访者对国内消费环境总体表示放心。这表明经过社会各方不懈努力我国消费者权益保护工作取得了明显成效。但也不能忽视消费领域仍存在不少矛盾有待解决。</p>#}
{#        <p class="pic"> <img src="images/666.png" alt=""> </p>#}
{#        <h4>通过对平台投诉数据分析,去年3月以来“人民投诉”消费维权主要呈现以下几大特点:</h4>#}
{#        <p>#}
{##}
{#            新消费迸发新活力的同时也滋生了不少侵权“新套路”。在“人民投诉”平台上，“云”求职、提升学历被机构虚假宣传诱导网贷，退课退款无门；短视频平台诱导购买等网购乱象,视频会员服务遭遇“套娃”式缴费、App会员自动续费陷阱,盲盒、预制菜品质良莠不齐,共享消费变“价格刺客”,二手交易平台以次充好，鉴定检测无标准,网游未成年人消费无门槛，充值权益奖励不兑现等问题反映多。 由于新型消费往往处于不同领域的交叉、重叠地带，现有相关法律规范尚未完全覆盖，导致纠纷处理存在举证难、监管难、法律适用难等问题，给消费者维权带来困难。如何规范、如何避坑，成为摆在商家、消费者以及监管部门面前的新挑战。#}
{##}
{#        </p>#}
{##}
{#        <h4>传统消费领域痼疾难除，这些问题仍突出——</h4>#}
{##}
{#        <p>根据“人民投诉”数据分析,2022年,快递、家电、房产、电商、购车、医美、演出等传统消费场景仍是投诉重点。此外,教培、健身、摄影、美容美发、酒店住宿等领域的预付式消费“套路”被诟病颇多，特别是无征兆停业或“跑路”，屡屡令消费者陷入维权困境。</p>#}
{#        <p>在“人民投诉”平台,“快递保价1.8万元,损坏后只赔500元”“手机套餐期满后被自动续期扣费”“逾期交房不赔付,质量未合格就交房”“七天无理由退货变成七天有理而退货难”“约定时间提不了新车，也不退定金”“未达承诺效果或产生副作用,医美机构拒不承认”“网购演出票不支持7天无理由退货”等案例较为典型。值得关注的是,在这些消费失信行为中，一些商家还通过单方变更服务协议、以消费者默认代替同意或变相取消选择权等形式的“不公平格式条款”实施欺诈，以逃避责任和义务。</p>#}
{#        <p>由此可见，整治消费维权痼疾，治理消费领域不公平格式条款呼唤监管“重拳”。上述问题仍有待完善相关监督机制、法律法规，通过更严厉的治理手段，多方合力重塑良好的消费环境和风气。</p>#}
{##}
{#        <h4>在线纠纷解决机制成效凸显，企业主动响应意愿显著增强</h4>#}
{##}
{#        <p>未成年人网游误消费,商家退款4万余元,新车提车延期7个月,车企协调完成交付；退订机票扣高额手续费，平台核实后退款；旅游服务缩水降质,行程订单全额退款；在线课程申请退款无果，短视频平台督促商家退费……包含上述典型案例的各消费领域投诉通过“人民投诉”得到了有效解决，消费者实现了高效、高质量维权。</p>#}
{#        <p>2022年3月以来,“人民投诉”平台收到企业回复处理1503件,同比增长1267%。与此同时，平台投诉比重较大的房产、电商/App购物/跨境购、快递物流、医美、共享消费、互联网金融等领域的投诉，持续得不到相关平台的回复处理。相关问题如房产类捆绑销售、不达标强制交房、降质减配、价格欺诈；微信小程序商家或个人社交账号在无第三方资金托管的情况下进行销售或诱导私信交易，售后发生纠纷便失联；互联网涉众金融监管缺失、风险不可控等问题，投诉维权周期较长，遭遇“瓶颈”难有进展。#}
{#        </p>#}

{#这种方法是删除标签{% autoescape off %}#}
{#    {{ race.details}}#}
{#{% endautoescape %}#}
{#这种是将标签转化为格式{{ race.details|safe}}#}
    {{ race.details|safe}}
    </div>
{% endblock %}