/* banner start */

.banner {
    height: 421px;
    /* background-color: #00a4ff; */
    margin-top: 80px;
}

.banner .w {
    height: 421px;
    background-color: #00a4ff;
}

.subnav {
    float: left;
    height: 421px;
    width: 190px;
    background: rgba(0, 0, 0, 0.3);
}

.subnav ul li a {
    font-size: 14px;
    color: #fff;
}

.subnav ul li {
    height: 45px;
    line-height: 45px;
    padding: 0 20px;
}

.subnav ul li a span {
    float: right;
}

.subnav ul li a:hover {
    color: #00a4ff
}

.cource {
    float: right;
    width: 230px;
    height: 300px;
    background-color: #fff;
    margin-top: 50px;
}

.cource h2 {
    height: 48px;
    background-color: greenyellow;
    text-align: center;
    /* 水平居中 */
    line-height: 48px;
    /* 垂直居中 */
    color: #fff;
    font-size: 18px;
}

.cource .bd {
    padding: 0 20px;
}

.bd ul li h4 {
    font-size: 16px;
    color: #4e4e4e;
}

.bd ul li p {
    font-size: 12px;
    color: #a5a5a5;
}

.bd ul li {
    padding: 15px 0;
    border-bottom: 1px solid #ccc;
}

.bd .more {
    display: block;
    height: 38px;
    text-align: center;
    line-height: 38px;
    border: 1px solid #00a4ff;
    font-size: 16px;
    color: #00a4ff;
    font-weight: 700;
    margin-top: 5px;
}


/* banner end */