.footer {
    background-color: transparent;
}

.footer .uList a {
    text-decoration: none;
    color: #11fe0d;
    font-size: 15px;
    margin: 0 8px;
    font-weight: 600;
}


/* 后面加的部分 */

.login-page {
    width: 360px;
    padding: 10% 0 0;
    margin: auto;
}

.form {
    position: relative;
    z-index: 1;
    background: skyblue;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
}

.form input {
    outline: none;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.form button {
    text-transform: uppercase;
    outline: 0;
    background: orange;
    width: 100%;
    border: none;
    padding: 15px;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
}

.form button:hover,
.form button:active {
    background: green;
    border: none;
}

.form .meassage {
    margin: 15px 0 0;
    color: #fff;
    font-size: 12px;
}

.form .meassage a {
    color: orange;
    text-decoration: none;
}


/* .register-form
{
    display: none;
} */

.form a {
    text-decoration: none;
    background-color: rgb(255, 30, 0);
    text-transform: uppercase;
    outline: 0;
    width: 35%;
    border: none;
    padding: 10px;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
}

body {
    background-image: url(../images/bj.jpg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}